.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 120px;
}

.SelectedCategory {
    font-size: 24px;
    font-weight: bold;
}
