.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eee;
}

.LandingPage .Title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.LandingPage .Caution {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-bottom: 16px;
}

.LandingPage .RestrictionsList {
    padding: 20px;
    margin: 16px;
    height: 300px;
    width: 200px;
    overflow: auto;
    background-color: #eee;
    border: 1px solid #ccc;
}

.LandingPage .StartBtn {
    width: 200px;
    height: 48px;
    background-color: #D43544;

    font-size: 24px;
    font-weight: bold;
    color: #eee;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.LandingPage .TableNumber {
    font-size: 16px;
}